<!-- src/app/movies/movies.component.html -->

<div class="container content-wrapper">
@for (movie of movies; track movie) {
  <div class="card shadow-sm rounded hover-shadow">
    <img
      src="{{ imageUrl(movie.poster).width(200).url() }}"
      alt="{{ movie.title }}"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ movie.title }}
      </h5>
      @for (view of movie.overview; track view){
        <p class="card-text">
            {{ view["children"][0]["text"] }}
        </p>
      }
      <div>{{ movie.releaseDate | date:'fullDate' }}</div>
    </div>
  </div>
}
</div>